/*
 *	John Chiodo
 *	jchiodo@hawk.iit.edu
 *	ITMD462 - Assignment3 
 *	09/12/2017
*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    background: ivory;
	font: 1em verdana, sans-serif;
}

h1, h2 {
	margin: 10px 0px;
}

ul {
list-style-type:none;
}

#fboutput li {
	margin: 3px 50px;
}
.FizzBuzz {
	color: red;
}

.Fizz {
	color: blue;
}

.Buzz {
	color: green;
}

 

